In [49]:
from sklearn import datasets
import pandas as pd
from sklearn.cluster import KMeans

In [50]:
iris = datasets.load_iris()
X = iris.data
y = iris.target

In [51]:
model = KMeans(n_clusters=3).fit(X)
print(model.labels_)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 2 2 2 2 0 2 2 2 2
 2 2 0 0 2 2 2 2 0 2 0 2 0 2 2 0 0 2 2 2 2 2 0 2 2 2 2 0 2 2 2 0 2 2 2 0 2
 2 0]

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [52]:
for i in range(150):
  print(model.labels_[i], '\t',y[i])

1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
1 	 0
0 	 1
0 	 1
2 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
2 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
0 	 1
2 	 2
0 	 2
2 	 2
2 	 2
2 	 2
2 	 2
0 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
0 	 2
0 	 2
2 	 2
2 	 2
2 	 2
2 	 2
0 	 2
2 	 2
0 	 2
2 	 2
0 	 2
2 	 2
2 	 2
0 	 2
0 	 2
2 	 2
2 	 2
2 	 2
2 	 2
2 	 2
0 	 2
2 	 2
2 	 2
2 	 2
2 	 2
0 	 2
2 	 2
2 	 2
2 	 2
0 	 2
2 	 2
2 	 2
2 	 2
0 	 2
2 	 2
2 	 2
0 	 2

In [53]:
import numpy as np
from scipy.spatial.distance import euclidean

def kmean(a1_list, a2_list, centroid_1, centroid_2):
    if (len(a1_list) == len(a2_list)) and (len(centroid_1) == len(centroid_2)):
        distance = np.zeros((len(a1_list), len(centroid_1)))
        new_c1 = np.zeros(len(centroid_1))
        new_c2 = np.zeros(len(centroid_2))
        cluster_no = []
        c_cnt = np.zeros(len(centroid_1))

        for i in range(len(a1_list)):
            for j in range(len(centroid_1)):
                # Pass two points as arrays
                distance[i,j] = euclidean([a1_list[i], a2_list[i]], [centroid_1[j], centroid_2[j]])

        for i in range(len(a1_list)):
            min_val = min(distance[i, :])
            cluster_no.append(list(distance[i, :]).index(min_val))
            print("point:"+str(i+1), "\t",
                  '{:.2f}'.format(distance[i,0]), "\t",
                  '{:.2f}'.format(distance[i,1]), "\t",
                  '{:.2f}'.format(distance[i,2]), "\t",
                  cluster_no[i]+1
                 )

        for i in range(len(a1_list)):
            new_c1[cluster_no[i]] += a1_list[i]
            new_c2[cluster_no[i]] += a2_list[i]
            c_cnt[cluster_no[i]] += 1

        for i in range(len(new_c1)):
            new_c1[i] /= c_cnt[i]
            new_c2[i] /= c_cnt[i]

        print(new_c1, new_c2)
        return new_c1, new_c2
    else:
        print("dimension error")

In [54]:
a1 = [0,2,3,5,7,11,13,15,16,19]
a2 = [0,5,1,4,7,1,5,2,6,4]
c1 = [0,7,19]
c2 = [0,7,4]

In [55]:
a1 = [0,2,3,5,7,11,13,15,16,19]
a2 = [0,5,1,4,7,1,5,2,6,4]
c1 = [0,7,19]
c2 = [0,7,4]

new_c1,new_c2 = kmean(a1,a2,c1,c2)
_,_ = kmean(a1,a2,new_c1,new_c2)

point:1 	 0.00 	 9.90 	 19.42 	 1
point:2 	 5.39 	 5.39 	 17.03 	 1
point:3 	 3.16 	 7.21 	 16.28 	 1
point:4 	 6.40 	 3.61 	 14.00 	 2
point:5 	 9.90 	 0.00 	 12.37 	 2
point:6 	 11.05 	 7.21 	 8.54 	 2
point:7 	 13.93 	 6.32 	 6.08 	 3
point:8 	 15.13 	 9.43 	 4.47 	 3
point:9 	 17.09 	 9.06 	 3.61 	 3
point:10 	 19.42 	 12.37 	 0.00 	 3
[ 1.66666667  7.66666667 15.75      ] [2.   4.   4.25]
point:1 	 2.60 	 8.65 	 16.31 	 1
point:2 	 3.02 	 5.75 	 13.77 	 1
point:3 	 1.67 	 5.55 	 13.16 	 1
point:4 	 3.89 	 2.67 	 10.75 	 2
point:5 	 7.31 	 3.07 	 9.17 	 2
point:6 	 9.39 	 4.48 	 5.76 	 2
point:7 	 11.72 	 5.43 	 2.85 	 3
point:8 	 13.33 	 7.60 	 2.37 	 3
point:9 	 14.88 	 8.57 	 1.77 	 3
point:10 	 17.45 	 11.33 	 3.26 	 3
[ 1.66666667  7.66666667 15.75      ] [2.   4.   4.25]